<input
  type="hidden"
  id="page-name"
  value="new"
/>
<p id="new-code-room-error"></p>
<%= form_for @changeset, code_rooms_path(@conn, :create), [id: "new-code-room-form"], fn f -> %>
  <label>
    Name: <%= text_input f, :name %>
  </label>
  <label>
    Language: <%= select f, :language, ["Ruby"] %>
  </label>
  <label>
    Private: <%= select f, :private, [true] %>
  </label>
  <%= submit "Submit" %>
<% end %>
